/* line 5, sass/contact.scss */
.region-content {
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  /* line 5, sass/contact.scss */
  .region-content {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

/* line 16, sass/contact.scss */
#block-wm-contactinformation {
  padding: 0 2em;
}
@media only screen and (max-width: 768px) {
  /* line 16, sass/contact.scss */
  #block-wm-contactinformation {
    padding: 0;
  }
}

/* line 24, sass/contact.scss */
#block-contactprivacystatement {
  font-size: 0.8em;
}
/* line 27, sass/contact.scss */
#block-contactprivacystatement p {
  margin: 0;
  line-height: 1.5em;
}

/* line 33, sass/contact.scss */
.block:not(#block-contactprivacystatement) h2 {
  margin: 1rem auto;
  width: 100%;
  text-align: center;
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  font-style: italic;
}
/* line 46, sass/contact.scss */
.block:not(#block-contactprivacystatement) h2:before, .block:not(#block-contactprivacystatement) h2:after {
  content: '~';
  padding: 0 1em;
}
@media only screen and (max-width: 768px) {
  /* line 33, sass/contact.scss */
  .block:not(#block-contactprivacystatement) h2 {
    white-space: normal;
    font-size: 1.7em;
  }
  /* line 55, sass/contact.scss */
  .block:not(#block-contactprivacystatement) h2:before, .block:not(#block-contactprivacystatement) h2:after {
    display: none;
  }
}

/* line 61, sass/contact.scss */
#block-wm-additionalcontactinformation {
  text-align: center;
}
/* line 64, sass/contact.scss */
#block-wm-additionalcontactinformation .wm-contact-details {
  text-align: left;
  display: inline-block;
}
/* line 68, sass/contact.scss */
#block-wm-additionalcontactinformation .wm-contact-details h3 {
  font-weight: normal;
  font-size: 1.3em;
  margin-bottom: 0.2em;
}
/* line 73, sass/contact.scss */
#block-wm-additionalcontactinformation .wm-contact-details h3:before {
  content: '- ';
  font-weight: normal;
}
/* line 79, sass/contact.scss */
#block-wm-additionalcontactinformation .wm-contact-details p {
  margin-top: 0.2em;
}
/* line 83, sass/contact.scss */
#block-wm-additionalcontactinformation .wm-contact-details .wm-map-link {
  display: none;
}
@media only screen and (max-width: 768px) {
  /* line 83, sass/contact.scss */
  #block-wm-additionalcontactinformation .wm-contact-details .wm-map-link {
    display: inline;
  }
}
/* line 93, sass/contact.scss */
#block-wm-additionalcontactinformation .wm-map iframe {
  box-shadow: 0.5em 0.5em 1em rgba(81, 104, 31, 0.2);
  width: 100%;
  max-width: 800px;
}
@media only screen and (max-width: 768px) {
  /* line 92, sass/contact.scss */
  #block-wm-additionalcontactinformation .wm-map {
    display: none;
  }
}

/* line 106, sass/contact.scss */
form {
  margin: 0 1em;
}

/* line 111, sass/contact.scss */
label, label.form-required {
  width: 11em;
  display: inline-block;
  text-align: right;
  padding-right: 1em;
}
@media only screen and (max-width: 768px) {
  /* line 111, sass/contact.scss */
  label, label.form-required {
    display: block;
    text-align: left;
  }
}
/* line 122, sass/contact.scss */
label:after, label.form-required:after {
  content: ':';
  display: inline;
  vertical-align: initial;
  background: none;
  width: auto;
  height: auto;
  margin: auto;
}

/* line 134, sass/contact.scss */
.form-type-textfield input, .form-type-email input {
  width: calc(100% - 11em - 0.3em);
}
@media only screen and (max-width: 768px) {
  /* line 134, sass/contact.scss */
  .form-type-textfield input, .form-type-email input {
    width: 100%;
  }
}

/* line 144, sass/contact.scss */
.form-item input, .form-item textarea {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0.2em;
  border-bottom: 3px solid rgba(81, 104, 31, 0.5);
  transition: background-color 0.3s, border-color 0.3s;
}
/* line 154, sass/contact.scss */
.form-item input:focus, .form-item textarea:focus {
  background-color: white;
  border-color: #51681F;
}
/* line 160, sass/contact.scss */
.form-item textarea {
  margin-top: 0.8em;
  border: solid rgba(81, 104, 31, 0.5);
  border-width: 0 3px;
  border-radius: 0.1em;
}

/* line 169, sass/contact.scss */
.form-actions {
  text-align: center;
}
/* line 172, sass/contact.scss */
.form-actions input#edit-preview {
  display: none;
}
/* line 176, sass/contact.scss */
.form-actions input#edit-submit {
  display: inline-block;
  border: none;
  border-radius: 0.2em;
  padding: 0.5em 1em;
  font-size: 1.5em;
  color: #fbfcf8;
  background-color: #6A7E3F;
  outline: none;
  transition: background-color 0.5s, box-shadow 0.5s;
}
/* line 190, sass/contact.scss */
.form-actions input#edit-submit:hover, .form-actions input#edit-submit:focus {
  background-color: #94ae5c;
  box-shadow: 0.5em 0.5em 1em rgba(81, 104, 31, 0.2);
}
