/* line 4, sass/contact.scss */
.region-content {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 10, sass/contact.scss */
#block-wm-contactinformation {
  padding: 0 2em;
}

/* line 14, sass/contact.scss */
#block-contactprivacystatement {
  font-size: 0.8em;
}
/* line 17, sass/contact.scss */
#block-contactprivacystatement p {
  margin: 0;
  line-height: 1.5em;
}

/* line 23, sass/contact.scss */
.block:not(#block-contactprivacystatement) h2 {
  margin: 1rem auto;
  width: 100%;
  text-align: center;
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  font-style: italic;
}
/* line 36, sass/contact.scss */
.block:not(#block-contactprivacystatement) h2:before, .block:not(#block-contactprivacystatement) h2:after {
  content: '~';
  padding: 0 1em;
}

/* line 42, sass/contact.scss */
#block-wm-additionalcontactinformation {
  text-align: center;
}
/* line 45, sass/contact.scss */
#block-wm-additionalcontactinformation > div {
  text-align: left;
  display: inline-block;
}
/* line 49, sass/contact.scss */
#block-wm-additionalcontactinformation > div h3 {
  font-weight: normal;
  font-size: 1.3em;
  margin-bottom: 0.2em;
}
/* line 54, sass/contact.scss */
#block-wm-additionalcontactinformation > div h3:before {
  content: '- ';
  font-weight: normal;
}
/* line 60, sass/contact.scss */
#block-wm-additionalcontactinformation > div p {
  margin-top: 0.2em;
}
/* line 64, sass/contact.scss */
#block-wm-additionalcontactinformation > div iframe {
  box-shadow: 0.5em 0.5em 1em rgba(70, 38, 0, 0.2);
}

/* line 71, sass/contact.scss */
form {
  margin: 0 1em;
}

/* line 76, sass/contact.scss */
label, label.form-required {
  width: 11em;
  display: inline-block;
  text-align: right;
  padding-right: 1em;
}
/* line 82, sass/contact.scss */
label:after, label.form-required:after {
  content: ':';
  display: inline;
  vertical-align: initial;
  background: none;
  width: auto;
  height: auto;
  margin: auto;
}

/* line 94, sass/contact.scss */
.form-type-textfield input, .form-type-email input {
  width: calc(100% - 11em - 0.3em);
}

/* line 100, sass/contact.scss */
.form-item input, .form-item textarea {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0.2em;
  border-bottom: 3px solid rgba(70, 38, 0, 0.5);
  transition: background-color 0.3s, border-color 0.3s;
}
/* line 110, sass/contact.scss */
.form-item input:focus, .form-item textarea:focus {
  background-color: white;
  border-color: #462600;
}
/* line 116, sass/contact.scss */
.form-item textarea {
  margin-top: 0.8em;
  border: solid rgba(70, 38, 0, 0.5);
  border-width: 0 3px;
  border-radius: 0.1em;
}

/* line 125, sass/contact.scss */
.form-actions {
  text-align: center;
}
/* line 128, sass/contact.scss */
.form-actions input#edit-preview {
  display: none;
}
/* line 132, sass/contact.scss */
.form-actions input#edit-submit {
  display: inline-block;
  border: none;
  border-radius: 0.2em;
  padding: 0.5em 1em;
  font-size: 1.5em;
  color: #FFF7EE;
  background-color: #7A5326;
  outline: none;
  transition: background-color 0.5s, box-shadow 0.5s;
}
/* line 146, sass/contact.scss */
.form-actions input#edit-submit:hover, .form-actions input#edit-submit:focus {
  background-color: #b47b38;
  box-shadow: 0.5em 0.5em 1em rgba(70, 38, 0, 0.2);
}
