/* line 4, sass/front.scss */
body.page-node-type-front-page {
  font-size: initial;
}
/* line 7, sass/front.scss */
body.page-node-type-front-page header {
  padding-bottom: 0;
}
/* line 11, sass/front.scss */
body.page-node-type-front-page article {
  max-width: initial;
  margin: 0 auto;
  font-size: initial;
  line-height: initial;
  -webkit-hyphens: none;
  hyphens: none;
  text-align: initial;
}
/* line 23, sass/front.scss */
body.page-node-type-front-page article p {
  text-indent: 0;
}

/* line 30, sass/front.scss */
.wm-site-name {
  text-align: center;
}
/* line 33, sass/front.scss */
.wm-site-name h1 {
  display: inline-block;
  padding: 0.3em 2em 0.1em;
  margin: 1.2em 0;
  border: solid #462600;
  border-width: 1px 0;
  font-size: 4em;
}
@media only screen and (max-width: 768px) {
  /* line 33, sass/front.scss */
  .wm-site-name h1 {
    padding: 1em 0 0;
    width: 100%;
    font-size: 3em;
    border: none;
    margin: 0;
    background-color: #FFF7EE;
  }
}

/* line 55, sass/front.scss */
.wm-front-page-section {
  margin: 2em 0 0;
  padding: 2rem 0;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  /* line 55, sass/front.scss */
  .wm-front-page-section {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0;
  }
}
/* line 66, sass/front.scss */
.wm-front-page-section.wm-titled {
  box-shadow: inset 0 1.5em 1.5em -1.5em rgba(100, 100, 100, 0.5);
}
/* line 70, sass/front.scss */
.wm-front-page-section h2.wm-section-title {
  margin: 1rem auto 2rem;
  text-align: center;
  font-size: 3em;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  font-style: italic;
}
/* line 82, sass/front.scss */
.wm-front-page-section h2.wm-section-title:before, .wm-front-page-section h2.wm-section-title:after {
  content: '~';
  padding: 0 1em;
}
@media only screen and (max-width: 768px) {
  /* line 70, sass/front.scss */
  .wm-front-page-section h2.wm-section-title {
    white-space: normal;
  }
  /* line 90, sass/front.scss */
  .wm-front-page-section h2.wm-section-title:before, .wm-front-page-section h2.wm-section-title:after {
    display: none;
  }
}
/* line 96, sass/front.scss */
.wm-front-page-section .wm-image-field {
  box-shadow: 0.2em 0.2em 1.5em -0.1em rgba(100, 100, 100, 0.3);
}
/* line 100, sass/front.scss */
.wm-front-page-section .wm-section-content {
  font-size: 2em;
  max-width: 1200px;
  padding: 0 2em;
  margin: 1em auto 0;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  /* line 100, sass/front.scss */
  .wm-front-page-section .wm-section-content {
    font-size: 1.3em;
    padding: 0;
  }
}
/* line 112, sass/front.scss */
.wm-front-page-section .wm-section-content p {
  text-align: justify;
  text-indent: 1em;
  margin: 0;
}
/* line 118, sass/front.scss */
.wm-front-page-section .wm-section-content a {
  display: inline-block;
  margin-top: 0.3em;
  padding: 0.1em 0.5em;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  color: #000;
  transition: background-color 0.5s, border-color 0.2s;
}
/* line 128, sass/front.scss */
.wm-front-page-section .wm-section-content a:hover {
  background-color: rgba(70, 38, 0, 0.2);
  border-bottom-color: #462600;
}
