/* line 4, sass/front.scss */
body.page-node-type-front-page {
  font-size: initial;
}
/* line 7, sass/front.scss */
body.page-node-type-front-page header {
  padding-bottom: 0;
}
/* line 11, sass/front.scss */
body.page-node-type-front-page article {
  max-width: 100%;
  margin: 0 auto;
  -webkit-hyphens: none;
  hyphens: none;
}
/* line 18, sass/front.scss */
body.page-node-type-front-page article p {
  text-indent: 0;
}

/* line 25, sass/front.scss */
.wm-site-name {
  text-align: center;
}
/* line 28, sass/front.scss */
.wm-site-name h1 {
  display: inline-block;
  padding: 0.3em 2em 0.1em;
  margin: 1.2em 0;
  border: solid #51681F;
  border-width: 1px 0;
  font-size: 4em;
}
@media only screen and (max-width: 768px) {
  /* line 28, sass/front.scss */
  .wm-site-name h1 {
    padding: 1em 0 0;
    width: 100%;
    font-size: 3em;
    border: none;
    margin: 0;
    background-color: #fbfcf8;
  }
}

/* line 49, sass/front.scss */
.wm-front-page-section {
  margin: 0;
  padding: 4rem 0;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  /* line 49, sass/front.scss */
  .wm-front-page-section {
    margin: 0;
    padding: 1rem 0.5em;
  }
}
/* line 59, sass/front.scss */
.wm-front-page-section h2.wm-section-title {
  margin: 1rem auto 2rem;
  text-align: center;
  font-size: 3em;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  font-style: italic;
}
/* line 72, sass/front.scss */
.wm-front-page-section h2.wm-section-title:before, .wm-front-page-section h2.wm-section-title:after {
  content: '~';
  padding: 0 1em;
}
@media only screen and (max-width: 768px) {
  /* line 59, sass/front.scss */
  .wm-front-page-section h2.wm-section-title {
    white-space: normal;
    font-size: 2.2em;
  }
  /* line 81, sass/front.scss */
  .wm-front-page-section h2.wm-section-title:before, .wm-front-page-section h2.wm-section-title:after {
    display: none;
  }
}
/* line 87, sass/front.scss */
.wm-front-page-section .wm-section-content {
  font-size: 1.7em;
  line-height: normal;
  max-width: 1200px;
  padding: 0 2em;
  margin: 1em auto 0;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  /* line 87, sass/front.scss */
  .wm-front-page-section .wm-section-content {
    font-size: 1.3em;
    padding: 0;
  }
}
/* line 100, sass/front.scss */
.wm-front-page-section .wm-section-content p {
  margin-top: 0;
  text-align: left;
}
/* line 105, sass/front.scss */
.wm-front-page-section .wm-section-content a {
  display: inline-block;
  margin-top: 0.3em;
  padding: 0.1em 0.5em;
  border-bottom: 3px solid transparent;
  font-family: "Crimson Text", "Book Antiqua", serif;
  font-size: 1.15em;
  text-decoration: none;
  color: #000;
  transition: background-color 0.5s, border-color 0.2s;
}
/* line 118, sass/front.scss */
.wm-front-page-section .wm-section-content a:hover {
  background-color: rgba(81, 104, 31, 0.2);
  border-bottom-color: #51681F;
}

/* line 127, sass/front.scss */
.wm-section-number-2, .wm-section-number-4, .wm-section-number-6 {
  background-color: #283017;
  color: #fbfcf8;
}
/* line 131, sass/front.scss */
.wm-section-number-2 .wm-section-content a, .wm-section-number-4 .wm-section-content a, .wm-section-number-6 .wm-section-content a {
  color: #fbfcf8;
}
/* line 134, sass/front.scss */
.wm-section-number-2 .wm-section-content a:hover, .wm-section-number-4 .wm-section-content a:hover, .wm-section-number-6 .wm-section-content a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: #fbfcf8;
}
