/* line 3, sass/illustrated-page.scss */
h2.wm-section-title {
  margin: 1rem auto 2rem;
  width: 100%;
  text-align: center;
  font-size: 2em;
  line-height: initial;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  font-style: italic;
}
/* line 17, sass/illustrated-page.scss */
h2.wm-section-title:before, h2.wm-section-title:after {
  content: '~';
  padding: 0 1em;
}
@media only screen and (max-width: 768px) {
  /* line 3, sass/illustrated-page.scss */
  h2.wm-section-title {
    white-space: normal;
    font-size: 1.7em;
  }
  /* line 26, sass/illustrated-page.scss */
  h2.wm-section-title:before, h2.wm-section-title:after {
    display: none;
  }
}

/* line 32, sass/illustrated-page.scss */
.wm-section {
  margin-top: 2em;
  overflow: auto;
  padding: 0 1.5em;
  box-shadow: 0 1.5em 1.5em -1.5em rgba(100, 100, 100, 0.5);
  -webkit-hyphens: none;
  hyphens: none;
}
@media only screen and (max-width: 768px) {
  /* line 32, sass/illustrated-page.scss */
  .wm-section {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  /* line 47, sass/illustrated-page.scss */
  .wm-section-content {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
