@charset "UTF-8";
/***** General *****/
/* line 5, sass/image-field.scss */
.wm-image-field, .wm-illustration {
  display: inline-block;
  position: relative;
  max-width: 1200px;
}
@media only screen and (min-width: 1200px) and (max-height: 800px) {
  /* line 5, sass/image-field.scss */
  .wm-image-field, .wm-illustration {
    max-height: 700px;
  }
}
/* line 14, sass/image-field.scss */
.wm-image-field .wm-image-author, .wm-illustration .wm-image-author {
  position: absolute;
  right: 0.5px;
  bottom: 0;
  line-height: 1.5em;
  padding: 0 0.3em 0 0.6em;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: -0.1em -0.1em 0.5em rgba(0, 0, 0, 0.4);
  border-top-left-radius: 1em;
  transition: color 0.5s, box-shadow 0.2s;
}
/* line 28, sass/image-field.scss */
.wm-image-field .wm-image-author a, .wm-image-field .wm-image-author span, .wm-illustration .wm-image-author a, .wm-illustration .wm-image-author span {
  color: #DDD;
  text-decoration: none;
}
/* line 32, sass/image-field.scss */
.wm-image-field .wm-image-author a:before, .wm-image-field .wm-image-author span:before, .wm-illustration .wm-image-author a:before, .wm-illustration .wm-image-author span:before {
  content: "©";
}
/* line 36, sass/image-field.scss */
.wm-image-field .wm-image-author a:hover, .wm-image-field .wm-image-author a:active, .wm-image-field .wm-image-author span:hover, .wm-image-field .wm-image-author span:active, .wm-illustration .wm-image-author a:hover, .wm-illustration .wm-image-author a:active, .wm-illustration .wm-image-author span:hover, .wm-illustration .wm-image-author span:active {
  color: #FFF;
}
/* line 42, sass/image-field.scss */
.wm-image-field img, .wm-illustration img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}

/***** Side images *****/
/* line 53, sass/image-field.scss */
.wm-story-side-images, .wm-illustrations {
  float: right;
  margin-left: 1em;
  padding: 0 0.6em 0.6em;
  background-color: white;
}
@media only screen and (max-width: 768px) {
  /* line 53, sass/image-field.scss */
  .wm-story-side-images, .wm-illustrations {
    max-width: 25%;
    margin: 0.5em;
  }
}
/* line 65, sass/image-field.scss */
.wm-story-side-images .wm-image-field, .wm-story-side-images .wm-illustration, .wm-illustrations .wm-image-field, .wm-illustrations .wm-illustration {
  display: block;
  margin-top: 0.6em;
}
@media only screen and (max-width: 768px) {
  /* line 65, sass/image-field.scss */
  .wm-story-side-images .wm-image-field, .wm-story-side-images .wm-illustration, .wm-illustrations .wm-image-field, .wm-illustrations .wm-illustration {
    border-width: 0.1em;
  }
}
/* line 73, sass/image-field.scss */
.wm-story-side-images .wm-image-field img, .wm-story-side-images .wm-illustration img, .wm-illustrations .wm-image-field img, .wm-illustrations .wm-illustration img {
  width: 100%;
}
/* line 77, sass/image-field.scss */
.wm-story-side-images .wm-image-field .wm-image-author, .wm-story-side-images .wm-illustration .wm-image-author, .wm-illustrations .wm-image-field .wm-image-author, .wm-illustrations .wm-illustration .wm-image-author {
  display: none;
}
/* line 81, sass/image-field.scss */
.wm-story-side-images .wm-image-field .wm-image-label, .wm-story-side-images .wm-illustration .wm-image-label, .wm-illustrations .wm-image-field .wm-image-label, .wm-illustrations .wm-illustration .wm-image-label {
  display: none;
}

/***** Footer images *****/
/* line 89, sass/image-field.scss */
.wm-story-footer-image {
  text-align: center;
}
/* line 92, sass/image-field.scss */
.wm-story-footer-image .wm-image-field {
  margin-top: 5em;
  display: inline-block;
  padding: 2em;
  background-color: white;
}
@media only screen and (min-width: 1200px) and (max-height: 800px) {
  /* line 92, sass/image-field.scss */
  .wm-story-footer-image .wm-image-field {
    max-height: 100%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 92, sass/image-field.scss */
  .wm-story-footer-image .wm-image-field {
    padding: 0;
    margin: 0.5em;
  }
}
/* line 108, sass/image-field.scss */
.wm-story-footer-image .wm-image-field img {
  box-shadow: 0.2em 0.2em 1.5em -0.1em rgba(70, 38, 0, 0);
  max-height: 850px;
}
@media only screen and (min-width: 1200px) and (max-height: 800px) {
  /* line 108, sass/image-field.scss */
  .wm-story-footer-image .wm-image-field img {
    max-height: 700px;
  }
}
/* line 118, sass/image-field.scss */
.wm-story-footer-image .wm-image-label {
  display: block;
  margin-top: 2em;
  padding: 0 2em;
  text-align: center;
  font-style: italic;
  font-size: 1.2em;
}
@media only screen and (max-width: 768px) {
  /* line 118, sass/image-field.scss */
  .wm-story-footer-image .wm-image-label {
    margin-top: 1em;
  }
}
/* line 130, sass/image-field.scss */
.wm-story-footer-image .wm-image-label p {
  line-height: 1.5em;
  text-indent: 0;
}
/* line 136, sass/image-field.scss */
.wm-story-footer-image .wm-image-author {
  background-color: inherit;
  border: none;
  box-shadow: none;
  font-size: 0.8em;
}
/* line 142, sass/image-field.scss */
.wm-story-footer-image .wm-image-author a, .wm-story-footer-image .wm-image-author span {
  color: #331B00;
}
/* line 145, sass/image-field.scss */
.wm-story-footer-image .wm-image-author a:hover, .wm-story-footer-image .wm-image-author a:active, .wm-story-footer-image .wm-image-author span:hover, .wm-story-footer-image .wm-image-author span:active {
  color: #7A5326;
}

/* line 155, sass/image-field.scss */
.wm-front-page-section .wm-image-label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0.4em 0;
  font-size: 1.2em;
  font-style: italic;
  white-space: normal;
  background-color: transparent;
  color: transparent;
  transition: background-color 0.5s, color 0.5s;
}
@media only screen and (max-width: 768px) {
  /* line 155, sass/image-field.scss */
  .wm-front-page-section .wm-image-label {
    padding: 0;
    font-size: 1.2em;
    line-height: 1em;
  }
  /* line 175, sass/image-field.scss */
  .wm-front-page-section .wm-image-label p {
    margin: 0.3em 0.5em;
  }
}

/***** Expanded version of the front page image *****/
/* line 184, sass/image-field.scss */
.wm-expanded .wm-image-label, .wm-hover .wm-image-label {
  background-color: rgba(255, 255, 255, 0.95);
  color: #462600;
  z-index: 0;
}
/* line 190, sass/image-field.scss */
.wm-expanded .wm-image-author, .wm-hover .wm-image-author {
  background-color: transparent;
  box-shadow: none;
  z-index: 10;
}
@media only screen and (max-width: 768px) {
  /* line 190, sass/image-field.scss */
  .wm-expanded .wm-image-author, .wm-hover .wm-image-author {
    z-index: -10;
    visibility: hidden;
  }
}
/* line 200, sass/image-field.scss */
.wm-expanded .wm-image-author a, .wm-expanded .wm-image-author span, .wm-hover .wm-image-author a, .wm-hover .wm-image-author span {
  color: #462600;
}
/* line 203, sass/image-field.scss */
.wm-expanded .wm-image-author a:hover, .wm-expanded .wm-image-author a:active, .wm-expanded .wm-image-author span:hover, .wm-expanded .wm-image-author span:active, .wm-hover .wm-image-author a:hover, .wm-hover .wm-image-author a:active, .wm-hover .wm-image-author span:hover, .wm-hover .wm-image-author span:active {
  color: #935000;
}

/***** Full screen view *****/
/* line 214, sass/image-field.scss */
.wm-overlay-container {
  background-color: rgba(0, 0, 0, 0.92);
}
/* line 217, sass/image-field.scss */
.wm-overlay-container .wm-overlay-inner {
  height: calc(100% - 6rem);
}
/* line 220, sass/image-field.scss */
.wm-overlay-container .wm-overlay-inner .wm-image-field, .wm-overlay-container .wm-overlay-inner .wm-illustration {
  margin: 0;
  padding: 0;
  box-shadow: none;
  position: static;
  height: 100%;
  max-width: calc(1920px + 2em);
  background-color: transparent;
  display: flex;
  align-items: center;
}
/* line 234, sass/image-field.scss */
.wm-overlay-container .wm-overlay-inner .wm-image-field img, .wm-overlay-container .wm-overlay-inner .wm-illustration img {
  max-height: 100%;
  min-height: 50px;
  min-width: 50px;
  background-image: url("../images/spinner.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
/* line 245, sass/image-field.scss */
.wm-overlay-container .wm-overlay-inner .wm-image-label {
  position: absolute;
  bottom: 0;
  left: 6rem;
  right: 6rem;
  height: 6rem;
  text-align: center;
  font-style: italic;
  font-size: 1.1em;
  background-color: #FFF;
  display: flex;
  align-items: center;
}
/* line 261, sass/image-field.scss */
.wm-overlay-container .wm-overlay-inner .wm-image-label p {
  margin: 0.5em;
  line-height: 1.3em;
  width: 100%;
}
/* line 269, sass/image-field.scss */
.wm-overlay-container nav > div {
  background-color: #FFF;
  position: absolute;
  bottom: 0;
  width: 6rem;
  height: 6rem;
  font-family: Tahoma, sans-serif;
  font-size: 4rem;
  padding: 0.1em 0.3em;
  transition: background-color 0.3s;
}
/* line 282, sass/image-field.scss */
.wm-overlay-container nav > div:hover:not(.wm-unavailable) {
  cursor: pointer;
  background-color: #C3A481;
}
/* line 288, sass/image-field.scss */
.wm-overlay-container .wm-prev {
  left: 0;
  text-align: right;
}
/* line 293, sass/image-field.scss */
.wm-overlay-container .wm-next {
  right: 0;
}
/* line 297, sass/image-field.scss */
.wm-overlay-container .wm-unavailable {
  color: #EEE;
}
/* line 301, sass/image-field.scss */
.wm-overlay-container .wm-close-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1em 0.2em;
  border-bottom-left-radius: 0.1em;
  color: rgba(195, 164, 129, 0.3);
  background-color: transparent;
  transition: color 0.3s, background-color 0.1s;
  cursor: pointer;
}
/* line 313, sass/image-field.scss */
.wm-overlay-container .wm-close-icon:hover {
  color: #FFF7EE;
  background-color: rgba(6, 6, 6, 0.5);
}
@media only screen and (max-width: 768px) {
  /* line 324, sass/image-field.scss */
  .wm-overlay-container .wm-overlay-inner .wm-image-label {
    left: 4rem;
    right: 4rem;
    font-size: 0.8rem;
  }
  /* line 331, sass/image-field.scss */
  .wm-overlay-container nav > div {
    width: 4rem;
    font-size: 3em;
    padding: 0.5em 0.2em;
    transition-duration: 0.2s;
  }
  /* line 338, sass/image-field.scss */
  .wm-overlay-container nav > div:hover:not(.wm-unavailable) {
    background-color: #FFF;
  }
  /* line 342, sass/image-field.scss */
  .wm-overlay-container nav > div.wm-tapped:not(.wm-unavailable) {
    background-color: #C3A481;
  }
}
