/* line 3, sass/menu-bottom.scss */
.menu--front-page-links {
  width: 38em;
  margin: 3em auto;
}
/* line 9, sass/menu-bottom.scss */
.menu--front-page-links .wm-navigation-links .active {
  display: none;
}
/* line 13, sass/menu-bottom.scss */
.menu--front-page-links .wm-navigation-links li {
  margin: 1em 0;
}
/* line 17, sass/menu-bottom.scss */
.menu--front-page-links .wm-navigation-links a {
  transition: border-color 0.2s;
  border: 0 solid transparent;
  border-width: 0 5px;
}
/* line 22, sass/menu-bottom.scss */
.menu--front-page-links .wm-navigation-links a:hover {
  border-color: #462600;
}
