/* line 4, sass/menu-main.scss */
.supernav {
  text-align: center;
}

/* line 8, sass/menu-main.scss */
.menu--main {
  text-transform: uppercase;
  letter-spacing: 0.11em;
  background-color: #6A7E3F;
  color: #fbfcf8;
}
/* line 15, sass/menu-main.scss */
.menu--main .wm-navigation-links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;
  font-size: 1rem;
}
@media only screen and (max-width: 768px) {
  /* line 15, sass/menu-main.scss */
  .menu--main .wm-navigation-links {
    flex-direction: column;
  }
}
/* line 27, sass/menu-main.scss */
.menu--main .wm-navigation-links .wm-link-icon {
  display: none;
}
/* line 31, sass/menu-main.scss */
.menu--main .wm-navigation-links .wm-link-body {
  margin: 0 0.2em;
  line-height: normal;
}
/* line 36, sass/menu-main.scss */
.menu--main .wm-navigation-links a {
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fbfcf8;
}
/* line 47, sass/menu-main.scss */
.menu--main .wm-navigation-links a:hover {
  background-color: #51681F;
}
/* line 52, sass/menu-main.scss */
.menu--main .wm-navigation-links li {
  min-width: 0;
  flex-grow: 1;
}
@media only screen and (max-width: 768px) {
  /* line 52, sass/menu-main.scss */
  .menu--main .wm-navigation-links li {
    padding: 0.25em 0.5em;
    width: 100%;
  }
}
/* line 61, sass/menu-main.scss */
.menu--main .wm-navigation-links li:last-child {
  border-right-width: 1px;
}
/* line 65, sass/menu-main.scss */
.menu--main .wm-navigation-links li a.active {
  text-decoration: underline;
}
/* line 69, sass/menu-main.scss */
.menu--main .wm-navigation-links li .wm-link-body {
  overflow: hidden;
  text-overflow: ellipsis;
}
