/* line 1, sass/navigation-links.scss */
.wm-navigation-links {
  display: flex;
  justify-content: center;
}
/* line 5, sass/navigation-links.scss */
.wm-navigation-links a {
  position: relative;
  display: block;
  height: 3rem;
  transition: background-color 0.3s;
}
/* line 11, sass/navigation-links.scss */
.wm-navigation-links a:hover {
  background-color: rgba(100, 100, 100, 0.2);
}
/* line 16, sass/navigation-links.scss */
.wm-navigation-links li {
  padding: 0;
  border: 0 solid #CCC;
  border-left-width: 1px;
}
/* line 21, sass/navigation-links.scss */
.wm-navigation-links li:last-child {
  border-right-width: 1px;
}
/* line 26, sass/navigation-links.scss */
.wm-navigation-links .wm-link-body {
  margin-left: 2.5rem;
  padding: 0 0.4em;
  font-size: 1.5rem;
  line-height: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 38, sass/navigation-links.scss */
.wm-navigation-links .wm-link-icon {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 0.25rem;
  left: 0.25rem;
  border-radius: 50%;
  background-color: green;
}
/* line 49, sass/navigation-links.scss */
.wm-navigation-links a, .wm-navigation-links a:hover {
  text-decoration: none;
  color: black;
}
