/* line 3, sass/story.scss */
.wm-page-title {
  text-align: center;
}
/* line 6, sass/story.scss */
.wm-page-title h1 {
  display: inline-block;
  font-weight: normal;
  padding: 1em;
  border-bottom: 1px solid #462600;
}

/* line 15, sass/story.scss */
.wm-story-author-field {
  float: left;
  width: 14em;
  margin: 0 1em 1em 0;
  padding: 0.5em 1em 1em;
  color: #462600;
  background-color: white;
  box-shadow: 0.2em 0.2em 0.8em rgba(70, 38, 0, 0.2);
}

/* line 27, sass/story.scss */
.wm-story-author-face {
  float: left;
  margin: 0 0.5em 0.5em 0;
  max-height: 5em;
}
/* line 32, sass/story.scss */
.wm-story-author-face img {
  box-shadow: 0.2em 0.2em 1.5em -0.1em rgba(70, 38, 0, 0.2);
  max-height: 100%;
  width: auto;
}

/* line 39, sass/story.scss */
.wm-story-author-name {
  text-align: center;
  font-size: 1.1em;
  margin: 0 0 0.5em;
}

/* line 45, sass/story.scss */
.wm-story-author-about {
  font-size: 0.9em;
  line-height: 1.1em;
  -webkit-hyphens: auto;
  hyphens: auto;
}
/* line 51, sass/story.scss */
.wm-story-author-about p {
  text-indent: 1em;
  text-align: justify;
  margin-top: 0;
}
/* line 56, sass/story.scss */
.wm-story-author-about p:last-child {
  margin-bottom: 0;
}
