// Palette of colours:
$lighter: #fbfcf8;
$light: #E2F3BB;
$normal: #6A7E3F;
$dark: #51681F;
$darker: #283017;

$error: #BB3E55;

$transparent: transparentize($dark, 0.8);

// Palette of fonts:
$sans: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$serif: 'Crimson Text', 'Book Antiqua', serif;
