@import 'palette';

// General and block layout
.region-content {
	max-width: 1200px;

	margin: 0 auto;
}

#block-wm-contactinformation {
	padding: 0 2em;
}

#block-contactprivacystatement {
	font-size: 0.8em;

	p {
		margin: 0;
		line-height: 1.5em;
	}
}

.block:not(#block-contactprivacystatement) h2 {
	margin: 1rem auto;
	width: 100%;

	text-align: center;
	font-size: 2em;

	white-space: nowrap;
	overflow: hidden;

	font-weight: normal;
	font-style: italic;

	&:before, &:after {
		content: '~';
		padding: 0 1em;
	}
}

#block-wm-additionalcontactinformation {
	text-align: center;

	> div {
		text-align: left;
		display: inline-block;

		h3 {
			font-weight: normal;
			font-size: 1.3em;
			margin-bottom: 0.2em;

			&:before {
				content: '- ';
				font-weight: normal;
			}
		}

		p {
			margin-top: 0.2em;
		}

		iframe {
			box-shadow: 0.5em 0.5em 1em $transparent;
		}
	}
}

// The contact form
form {
	margin: 0 1em;
}

$label-width: 11em;
label, label.form-required {
	width: $label-width;
	display: inline-block;
	text-align: right;
	padding-right: 1em;

	&:after {
		content: ':';
		display: inline;
		vertical-align: initial;
		background: none;
		width: auto;
		height: auto;
		margin: auto;
	}
}

.form-type-textfield, .form-type-email {
	input {
		width: calc(100% - #{$label-width} - 0.3em);
	}
}

.form-item {
	input, textarea {
		border: none;
		background-color: transparent;
		outline: none;
		padding: 0.2em;

		border-bottom: 3px solid transparentize($dark, 0.5);

		transition: background-color 0.3s, border-color 0.3s;

		&:focus {
			background-color: lighten($lighter, 10%);
			border-color: $dark;
		}
	}

	textarea {
		margin-top: 0.8em;
		border: solid transparentize($dark, 0.5);
		border-width: 0 3px;
		border-radius: 0.1em;
	}
}


.form-actions {
	text-align: center;

	input#edit-preview {
		display: none;
	}

	input#edit-submit {
		display: inline-block;
		border: none;
		border-radius: 0.2em;
		padding: 0.5em 1em;

		font-size: 1.5em;
		
		color: $lighter;
		background-color: $normal;
		outline: none;

		transition: background-color 0.5s, box-shadow 0.5s;

		&:hover, &:focus {
			background-color: lighten($normal, 15%);
			box-shadow: 0.5em 0.5em 1em $transparent;
		}
	}
}