@import 'palette';

// The big fat title of the site.
.wm-site-name {
	text-align: center;

	h1 {
		display: inline-block;
		padding: 0.3em 2em 0.1em;
		margin: 1.2em 0;

		border: solid $dark;
		border-width: 1px 0;

		font-size: 4em;
	}
}

// Sections of the front page.

.wm-front-page-section{
	margin: 2em 0 0;
	padding: 2rem 0;
	text-align: center;;

	&.wm-titled {
		box-shadow: inset 0 1.5em 1.5em -1.5em rgba(100, 100, 100, 0.5);
	}

	h2.wm-section-title {
		margin: 1rem auto 2rem;

		text-align: center;
		font-size: 3em;

		white-space: nowrap;
		overflow: hidden;

		font-weight: normal;
		font-style: italic;

		&:before, &:after {
			content: '~';
			padding: 0 1em;
		}
	}

	.wm-image-field {
		box-shadow: 0.2em 0.2em 1.5em -0.1em rgba(100, 100, 100, 0.3);
	}

	.wm-section-content {
		font-size: 2em;
		max-width: 1200px;
		padding: 0 1em;
		margin: 1em auto 0;
		text-align: right;

		p {
			text-align: justify;
			text-indent: 1em;
			margin: 0;
		}

		a {
			display: inline-block;
			margin-top:0.3em;
			padding: 0.1em 0.5em;
			border-bottom: 3px solid transparent;
			text-decoration: none;
			color: #000;

			transition: background-color 0.5s, border-color 0.2s;

			&:hover {
				background-color: rgba(100, 100, 100, 0.2);
				border-bottom-color: #000;
			}
		}
	}
}
