@import 'palette';
@import 'breakpoints';

body.page-node-type-front-page {
	font-size: initial;

	header {
		padding-bottom: 0;
	}

	article {
		max-width: 100%;
		margin: 0 auto;

		-webkit-hyphens: none;
		hyphens: none;

		p {
			text-indent: 0;
		}
	}
}

// The big fat title of the site.
.wm-site-name {
	text-align: center;

	h1 {
		display: inline-block;
		padding: 0.3em 2em 0.1em;
		margin: 1.2em 0;

		border: solid $dark;
		border-width: 1px 0;

		font-size: 4em;

		@include media('mobile') {
			padding: 1em 0 0;
			width: 100%;
			font-size: 3em;
			border: none;
			margin: 0;
			background-color: $lighter;
		}
	}
}

// Sections of the front page.
.wm-section-number-2, .wm-section-number-4, .wm-section-number-6 {
	background-color: $light;
}

.wm-front-page-section{
	margin: 0;
	padding: 4rem 0;
	text-align: center;

	@include media('mobile') {
		margin: 0;
		padding: 1rem 0.5em;
	}

	h2.wm-section-title {
		margin: 1rem auto 2rem;

		text-align: center;
		font-size: 3em;
		line-height: normal;

		white-space: nowrap;
		overflow: hidden;

		font-weight: normal;
		font-style: italic;

		&:before, &:after {
			content: '~';
			padding: 0 1em;
		}

		@include media('mobile') {
			white-space: normal;
			font-size: 2.2em;

			&:before, &:after {
				display: none;
			}
		}
	}

	.wm-image-field {
		box-shadow: 0.2em 0.2em 1.5em -0.1em rgba(100, 100, 100, 0.3);
	}

	.wm-section-content {
		font-size: 1.7em;
		line-height: normal;
		max-width: 1200px;
		padding: 0 2em;
		margin: 1em auto 0;
		text-align: right;	// Need this for the link

		@include media('mobile') {
			font-size: 1.3em;
			padding: 0;
		}

		p {
			margin-top: 0;
			text-align: left;
		}

		a {
			display: inline-block;
			margin-top:0.3em;
			padding: 0.1em 0.5em;
			border-bottom: 3px solid transparent;
			text-decoration: none;
			color: #000;

			transition: background-color 0.5s, border-color 0.2s;

			&:hover {
				background-color: $transparent;
				border-bottom-color: $dark;
			}
		}
	}
}
