@import 'palette';
@import 'breakpoints';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
	background-color: $lighter;
	color: $darker;

	font-size: 1.3em;

	@include media('mobile') {
		font-size: 0.9em;
	}
}

header {
	padding: 2em 0;
	background-color: $light;
	box-shadow: 0 1.5em 2em -1em $transparent;

	@include media('mobile') {
		padding: 0;
		box-shadow: none;
	}
}

.wm-page-title {
	text-align: center;

	h1 {
		display: inline-block;
		font-weight: normal;
		padding: 1em;
		border-bottom: 1px solid $dark;
	}
}

article {
	max-width: 1200px;
	margin: 0 auto;

	font-size: 1.1em;
	line-height: 1.9em;

	-webkit-hyphens: auto;
	hyphens: auto;

	text-align: justify;
	p {
		text-indent: 2em;
	}
}

a {
	color: $normal;
	text-decoration: none;

	transition: color 0.3s, text-decoration 0.3s;

	&:hover, &:active {
		color: $light;
		text-decoration: underline;
	}
}

.wm-region.wm-bottom {
	margin-top: 3em;

	&:before {
		display: block;
		text-align: center;
		font-size: 2em;
		letter-spacing: 0.5em;
		content: "* * *"
	}
}

footer.wm-footer {
	background-color: rgba(0, 0, 0, 0.8);
	color: rgba(200, 200, 200, 0.8);
	text-align: center;

	padding: 1em;

	a {
		color: rgba(255, 255, 255, 0.8);
		text-decoration: none;
		transition: color 0.2s;

		&:hover {
			text-decoration: underline;
			color: #FFF;
		}
	}

	.block {
		display: inline-block;
		margin: 1em 3em;

		@include media('mobile') {
			display: block;
			text-align: center;
			margin: 1em auto;
		}
	}

	:last-child {
		margin-bottom: 0;
	}

	:first-child {
		margin-top: 0;
	}

	.menu {
		margin: 0;

		@include media('mobile') {
			text-align: center;
		}
	}

	li {
		display: inline-block;
		padding: 0 0.5em;

		&:not(:last-child) {
			border-right: 1px solid rgba(200, 200, 200, 0.8);
		}
	}
}
