@import 'palette';
@import 'breakpoints';

*, *:before, *:after {
  box-sizing: border-box;
}

.wm-overlay-container {
	position: fixed;
	opacity: 0;
	z-index: -50;
	top: 10%; bottom: -10%; left: 0; right: 0;

	transition: top 0.7s, bottom 0.7s, opacity 0.4s;

	&.wm-visible {
		opacity: 1;
		z-index: 50;
		top: 0; bottom: 0;
	}
}

body {
	background-color: $lighter;
	color: $darker;

	font-size: 1.1em;

	&.wm-has-overlay {
		overflow: hidden;
	}

	@include media('mobile') {
		font-size: 0.9em;
	}
}

.wm-page-title {
	text-align: center;

	h1 {
		display: inline-block;
		font-weight: normal;
		padding: 1em;
		border-bottom: 1px solid $dark;

		@include media('mobile') {
			margin: 1rem 0;
			padding: 0.5rem 0;
		}
	}
}

article {
	max-width: 1200px;
	margin: 0 auto;

	font-size: 1.1em;
	line-height: 1.3em;

	-webkit-hyphens: auto;
	hyphens: auto;

	@include media('mobile') {
		line-height: normal;
	}
}

a {
	color: $normal;
	text-decoration: none;

	transition: color 0.3s, text-decoration 0.3s;

	&:hover, &:active {
		color: $light;
		text-decoration: underline;
	}
}

.wm-region.wm-bottom {
	margin-top: 3em;

	&:before {
		display: block;
		text-align: center;
		font-size: 2em;
		letter-spacing: 0.5em;
		content: "* * *"
	}
}

footer.wm-footer {
	font-size: 1rem;
	background-color: rgba(0, 0, 0, 0.8);
	color: rgba(200, 200, 200, 0.8);
	text-align: center;

	padding: 1em;

	a {
		color: rgba(255, 255, 255, 0.8);
		text-decoration: none;
		transition: color 0.2s;

		&:hover {
			text-decoration: underline;
			color: #FFF;
		}
	}

	.block {
		display: inline-block;
		margin: 1em 3em;

		@include media('mobile') {
			display: block;
			text-align: center;
			margin: 1em auto;
		}
	}

	:last-child {
		margin-bottom: 0;
	}

	:first-child {
		margin-top: 0;
	}

	.menu {
		margin: 0;

		@include media('mobile') {
			text-align: center;
		}
	}

	li {
		display: inline-block;
		padding: 0 0.5em;

		&:not(:last-child) {
			border-right: 1px solid rgba(200, 200, 200, 0.8);
		}
	}
}
