@import 'palette';
@import 'breakpoints';

// The image field
.wm-image-field, .wm-illustration {
	display: inline-block;
	position: relative;
	max-width: 1200px;

	@include media('wide') {
		max-height: 700px;
	}

	.wm-image-author {
		position: absolute;
		right: 0.5px;
		bottom: 0;
		line-height: 1.5em;

		padding: 0 0.3em 0 0.6em;
		background: rgba(0, 0, 0, 0.6);

		box-shadow: -0.1em -0.1em 0.5em rgba(0, 0, 0, 0.4);
		border-top-left-radius: 1em;

		transition: color 0.5s, box-shadow 0.2s;

		a, span {
			color: #DDD;
			text-decoration: none;

			&:before {
				content: '\00a9 '
			}

			&:hover, &:active {
				color: #FFF;
			}
		}
	}

	img {
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
		display: block;
	}
}

// Side images
.wm-story-side-images, .wm-illustrations {
	float: right;
	margin-left: 1em;

	@include media('mobile') {
		max-width: 25%;
		margin: 0.5em;
	}

	.wm-image-field, .wm-illustration {
		display: block;
		margin: 0 0 1em 0;

		border: 0.5em solid lighten($lighter, 10%);
		box-shadow: 0.2em 0.2em 0.8em $transparent;

		@include media('mobile') {
			border-width: 0.1em;
		}

		img {
			width: 100%;
		}

		.wm-image-author {
			display: none;
		}

		.wm-image-label {
			display: none;
		}
	}
}


// Footer images
.wm-story-footer-image {
	text-align: center;

	.wm-image-field {
		margin-top: 5em;
		display: inline-block;

		background-color: lighten($lighter, 10%);
		box-shadow: 0.2em 0.2em 0.8em $transparent;

		padding: 2em;

		@include media('wide') {
			max-height: 100%;
		}

		@include media('mobile') {
			padding: 0;
			margin: 0.5em;
		}

		img {
			box-shadow: 0.2em 0.2em 1.5em -0.1em transparentize($transparent, 0.5);
			max-height: 850px;

			@include media('wide') {
				max-height: 700px;
			}
		}
	}

	.wm-image-label {
		display: block;
		margin-top: 2em;
		padding: 0 2em;
		text-align: center;
		font-style: italic;
		font-size: 1.3em;

		@include media('mobile') {
			margin-top: 1em;
		}

		p {
			line-height: 1.5em;
			text-indent: 0;
		}
	}

	.wm-image-author {
		background-color: inherit;
		border: none;
		box-shadow: none;
		font-size: 0.8em;

		a, span {
			color: $darker;

			&:hover, &:active {
				color: $normal;
			}
		}
	}
}

// Labels hidden in a different way for the front page images
.wm-front-page-section {

	.wm-image-label {
		position: absolute;
		bottom: 0; left: 0; right: 0;
		text-align: center;
		padding: 0.4em 0;

		font-size: 1.6em;
		font-style: italic;
		white-space: normal;

		background-color: transparent;
		color: transparent;

		transition: background-color 0.5s, color 0.5s;

		@include media('mobile') {
			padding: 0;
			font-size: 1.2em;
			line-height: 1em;

			p {
				margin: 0.3em 0.5em;
			}
		}
	}
}

/***** Expanded version of the front page image *****/
.wm-expanded, .wm-hover {
	.wm-image-label {
		background-color: rgba(255, 255, 255, 0.95);
		color: $dark;
		z-index: 0;
	}

	.wm-image-author {
		background-color: transparent;
		box-shadow: none;
		z-index: 10;

		@include media('mobile') {
			z-index: -10;
			visibility: hidden;
		}

		a, span {
			color: $dark;

			&:hover, &:active {
				color: lighten($dark, 15%);
			}
		}
	}
}
