@import 'palette';
@import 'breakpoints';

/***** General *****/
.wm-image-field, .wm-illustration {
	display: inline-block;
	position: relative;
	max-width: 1200px;

	.wm-image-author {
		position: absolute;
		right: 0;
		bottom: 0;
		line-height: 1.5em;

		padding: 0 0.3em 0 0.6em;
		background: rgba(0, 0, 0, 0.6);

		box-shadow: -0.1em -0.1em 0.5em rgba(0, 0, 0, 0.4);
		border-top-left-radius: 1em;

		transition: color 0.5s, box-shadow 0.2s;

		a, span {
			color: #DDD;
			text-decoration: none;

			&:before {
				content: '\00a9 '
			}

			&:hover, &:active {
				color: #FFF;
			}
		}
	}

	img {
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
		display: block;
		margin: 0 auto;
	}
}

/***** Side images *****/
.wm-story-side-images, .wm-illustrations {
	float: right;
	margin-left: 1em;
	padding: 0 0.6em 0.6em;

	background-color: lighten($lighter, 10%);

	@include media('mobile') {
		max-width: 25%;
		margin: 0.5em;
	}

	.wm-image-field, .wm-illustration {
		display: block;
		margin-top: 0.6em;
		cursor: pointer;

		@include media('mobile') {
			border-width: 0.1em;
		}

		img {
			width: 100%;
		}

		.wm-image-author {
			display: none;
		}

		.wm-image-label {
			display: none;
		}
	}
}


/***** Footer images *****/
.wm-story-footer-image {
	text-align: center;

	.wm-image-field {
		margin-top: 5em;
		display: inline-block;
		padding: 2em;

		background-color: lighten($lighter, 10%);

		@include media('wide') {
			max-height: 100%;
		}

		@include media('mobile') {
			padding: 0;
			margin: 0.5em;
		}

		img {
			box-shadow: 0.2em 0.2em 1.5em -0.1em transparentize($transparent, 0.5);
			max-height: 850px;

			@include media('wide') {
				max-height: 700px;
			}
		}
	}

	.wm-image-label {
		display: block;
		margin-top: 2em;
		padding: 0 2em;
		text-align: center;
		font-style: italic;
		font-size: 1.2em;

		@include media('mobile') {
			margin-top: 1em;
		}

		p {
			line-height: 1.5em;
			text-indent: 0;
		}
	}

	.wm-image-author {
		background-color: inherit;
		border: none;
		box-shadow: none;
		font-size: 0.8em;

		a, span {
			color: $darker;

			&:hover, &:active {
				color: $normal;
			}
		}
	}
}

// Labels hidden in a different way for the front page images
.wm-front-page-section {

	.wm-image-field {
		@include media('wide') {
			height: 700px;
		}
	}

	.wm-image-label {
		position: absolute;
		bottom: 0; left: 0; right: 0;
		text-align: center;
		padding: 0.4em 0;

		font-size: 1.2em;
		font-style: italic;
		white-space: normal;

		background-color: transparent;
		color: transparent;

		transition: background-color 0.5s, color 0.5s;

		@include media('mobile') {
			padding: 0;
			font-size: 1.2em;
			line-height: 1em;

			p {
				margin: 0.3em 0.5em;
			}
		}
	}
}

/***** Expanded version of the front page image *****/
.wm-expanded, .wm-hover {
	.wm-image-label {
		background-color: rgba(255, 255, 255, 0.95);
		color: $dark;
		z-index: 0;
	}

	.wm-image-author {
		background-color: transparent;
		box-shadow: none;
		z-index: 10;

		@include media('mobile') {
			z-index: -10;
			visibility: hidden;
		}

		a, span {
			color: $dark;

			&:hover, &:active {
				color: lighten($dark, 15%);
			}
		}
	}
}

/***** Full screen view *****/
$nav-buttons-width: 6rem;
$nav-height: 6rem;

.wm-overlay-container {
	background-color: rgba(0, 0, 0, 0.92);

	.wm-overlay-inner {
		height: calc(100% - #{$nav-height});

		.wm-image-field, .wm-illustration {
			margin: 0;
			padding: 0;
			box-shadow: none;
			position: static;	// We're going to position to the Overlay.
			height: 100%;

			max-width: 100%;

			background-color: transparent;

			display: flex;
			align-items: center;

			img {
				max-height: 100%;
				min-height: 50px;
				min-width: 50px;
				background-image: url('../images/spinner.gif');
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: 50px;
			}
		}

		.wm-image-label {
			position: absolute;
			bottom: 0;
			left: $nav-buttons-width;
			right: $nav-buttons-width;
			height: $nav-height;

			text-align: center;
			font-style: italic;
			font-size: 1.1em;

			background-color: #FFF;

			display: flex;
			align-items: center;

			p {
				margin: 0.5em;
				line-height: 1.3em;
				width: 100%;
			}
		}
	}

	nav > div {
		background-color: #FFF;
		position: absolute;
		bottom: 0;
		width: $nav-buttons-width;
		height: $nav-height;

		font-family: Tahoma, sans-serif;
		font-size: 4rem;
		padding: 0.1em 0.3em;

		transition: background-color 0.3s;

		&:hover:not(.wm-unavailable) {
			cursor: pointer;
			background-color: $normal;
		}
	}

	.wm-prev {
		left: 0;
		text-align: right;
	}

	.wm-next {
		right: 0;
	}

	.wm-unavailable {
		color: #EEE;
	}

	.wm-close-icon {
		position: absolute;
		top: 0; right: 0;
		padding: 0.1em 0.2em;

		border-bottom-left-radius: 0.1em;

		color: transparentize($light, 0.7);
		background-color: transparent;

		transition: color 0.3s, background-color 0.1s;

		&:hover {
			color: $lighter;
			background-color: rgba(6, 6, 6, 0.5);
		}

		cursor: pointer;
	}

	@include media('mobile') {
		$nav-buttons-width: 4rem;

		.wm-overlay-inner .wm-image-label {
			left: $nav-buttons-width;
			right: $nav-buttons-width;

			font-size: 0.8rem;
		}

		nav > div {
			width: $nav-buttons-width;
			font-size: 3em;
			padding: 0.5em 0.2em;

			transition-duration: 0.2s;

			&:hover:not(.wm-unavailable) {
				background-color: #FFF;
			}

			&.wm-tapped:not(.wm-unavailable) {
				background-color: $light;
			}
		}
	}
}
