@import 'palette';
@import 'breakpoints';

.supernav {
	text-align: center;
}

.menu--main {
	text-transform: uppercase;
	letter-spacing: 0.11em;

	background-color: $normal;
	color: $lighter;

	.wm-navigation-links {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		margin: 0 auto;

		font-size: 1rem;

		@include media('mobile') {
			flex-direction: column;
		}

		.wm-link-icon {
			display: none;
		}

		.wm-link-body {
			margin: 0 0.2em;
			line-height: normal;
		}

		a {
			min-height: 4rem;

			display: flex;
			flex-direction: column;
			justify-content: center;

			text-align: center;

			color: $lighter;

			&:hover {
				background-color: $dark; // rgba(255, 255, 255, 0.2);
			}
		}

		li {
			min-width: 0;
			flex-grow: 1;

			@include media('mobile') {
				padding: 0.25em 0.5em;
				width: 100%;
			}

			&:last-child {
				border-right-width: 1px;
			}

			a.active {
				text-decoration: underline;
			}

			.wm-link-body {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

}
