@import 'palette';
@import 'breakpoints';

.supernav {
	text-align: center;
}

.menu--main {
	display: inline-block;
	max-width: 100%;

	.wm-navigation-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;

		background-color: darken($light, 5%);
		box-shadow: 0.3em 0.3em 0.5em $transparent;

		@include media('mobile') {
			justify-content: flex-start;
		}

		li {
			// flex: 0 1 auto;
			min-width: 0;

			@include media('mobile') {
				padding: 0.25em 0.5em;
				width: 100%;
			}

			&:last-child {
				border-right-width: 1px;
			}

			a.active .wm-link-icon {
				box-shadow: 0 0 0.3em 0.1em transparentize($lighter, 0.2);
			}

			.wm-link-body {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

}
