@import 'palette';
@import 'breakpoints';

.menu--front-page-links {
	margin: 3em 0;
	text-align: center;

	.wm-navigation-links {
		display: inline-block;

		.active {
			display: none;
		}

		li {
			margin: 1em 0;
		}

		a {
			transition: border-color 0.2s;
			border: 0 solid transparent;
			border-width: 0 5px;

			&:hover {
				border-color: $dark;
			}
		}
	}
}
