.wm-navigation-links {
	display: flex;
	justify-content: center;

	a {
		position: relative;
		display: block;
		height: 3rem;

		transition: background-color 0.3s;
		&:hover {
			background-color: rgba(100, 100, 100, 0.2);
		}
	}

	li {
		padding: 0;
		border: 0 solid #CCC;
		border-left-width: 1px;
		flex: 0 1 auto;
		min-width: 0;

		&:last-child {
			border-right-width: 1px;
		}
	}

	.wm-link-body {
		margin-left: 2.5rem;
		padding: 0 0.4em;

		font-size: 1.5rem;
		line-height: 2em;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.wm-link-icon {
		position: absolute;
		width: 2.5rem;
		height: 2.5rem;
		top: 0.25rem;
		left: 0.25rem;

		border-radius: 50%;
		background-color: green;
	}

	a, a:hover {
		text-decoration: none;
		color: black;
	}
}
