@import 'palette';
@import 'breakpoints';

.wm-navigation-links {

	a {
		position: relative;
		display: block;
		height: 3rem;

		transition: background-color 0.3s;
		&:hover {
			background-color: $transparent;
		}
	}

	li {
		padding: 0;
	}

	.wm-link-body {
		margin-left: 2.5rem;
		padding: 0 0.4em;

		font-size: 1.5rem;
		line-height: 2em;

		@include media('mobile') {
			line-height: 1em;
			vertical-align: -1rem;
			display: inline-block;
		}
	}

	.wm-link-icon {
		position: absolute;
		width: 2.5rem;
		height: 2.5rem;
		top: 0.25rem;
		left: 0.25rem;

		border-radius: 50%;
		background-color: darken($transparent, 10%);
		background-size: cover;
	}

	// Special case for Contact menu item since there's no way to include the menu image for it.
	.wm-link-contact .wm-link-icon {
		background-image: url('../images/contact.jpg');
	}

	a, a:hover {
		text-decoration: none;
		color: black;
	}
}
