@import 'palette';

.wm-page-title {
	text-align: center;

	h1 {
		display: inline-block;
		font-weight: normal;
		padding: 1em;
		border-bottom: 1px solid $dark;
	}
}

// Author
.wm-story-author-field {
	float: left;
	width: 14em;
	margin: 0 1em 1em 0;
	padding: 0.5em 1em 1em;
	color: $dark;

	background-color: lighten($lighter, 10%);

	box-shadow: 0.2em 0.2em 0.8em $transparent;
}

.wm-story-author-face {
	float: left;
	margin: 0 0.5em 0.5em 0;
	height: 5em;

	img {
		box-shadow: 0.2em 0.2em 1.5em -0.1em $transparent;
		max-height: 100%;
		width: auto;
	}
}

.wm-story-author-name {
	text-align: center;
	font-size: 1.1em;
	margin: 0 0 0.5em;
}

.wm-story-author-about {
	font-size: 0.9em;
	line-height: 1.1em;
	-webkit-hyphens: auto;
	hyphens: auto;

	p {
		text-indent: 1em;
		text-align: justify;
		margin-top: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
