@import 'palette';
@import 'breakpoints';

.block.menu--main {
	text-transform: uppercase;
	letter-spacing: 0.11em;

	background-color: $normal;

	.menu {
		font-family: $serif;
		text-align: center;

		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		margin: 0 auto;

		font-size: 1rem;

		@include media('mobile') {
			flex-direction: column;
		}

		a {
			display: flex;
			flex-direction: column;
			justify-content: center;

			overflow: hidden;
			text-overflow: ellipsis;

			min-height: 4rem;
			padding: 0 0.4em;
			line-height: 2em;

			text-align: center;
			color: $lighter;

			transition: background-color 0.3s;

			&:hover {
				background-color: $dark;
			}

			@include media('mobile') {
				line-height: 1em;
				vertical-align: -1rem;
				display: inline-block;
			}
		}

		li {
			min-width: 0;
			flex-grow: 1;
			padding: 0;

			line-height: normal;

			@include media('mobile') {
				padding: 0.25em 0.5em;
				width: 100%;
			}

			&:last-child {
				border-right-width: 1px;
			}

			&.menu-item--active-trail a {
				text-decoration: underline;
			}
		}
	}
}
